<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/main.a6165544.css" rel="stylesheet">
    <script src="/js/popper.min.js"></script>

    <!------ Include the above in your HEAD tag ---------->
    <style>
        @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
        @import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
        .hm-gradient {
            background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
            /* height: 100% */
        }
        
        .darken-grey-text {
            color: #2E2E2E;
        }
        
        .danger-text {
            color: #ff3547;
        }
        
        .form-white .md-form label {
            color: #fff;
        }
        
        .form-white input[type=text]:focus:not([readonly]) {
            border-bottom: 1px solid #fff;
            -webkit-box-shadow: 0 1px 0 0 #fff;
            box-shadow: 0 1px 0 0 #fff;
        }
        
        .form-white input[type=text]:focus:not([readonly])+label {
            color: #fff;
        }
        
        .form-white .form-control:focus {
            color: #fff;
        }
        
        .form-white .form-control {
            color: #fff;
        }
        
        .card {
            margin: 0 auto;
            /* Added */
            float: none;
            /* Added */
            margin-bottom: 10px;
            /* Added */
        }
        
        .navbar {
            background-color: #553E91 !important;
        }
        
        #userEmail {
            color: white;
        }
        
        button {
            color: #553E91 !important;
        }
        
        #nav_brand {
            color: white;
        }
        
        .nav-link {
            color: white ! important;
        }
        
        #addMoreLbl {
            float: right;
        }
        
        #btns {
            float: right;
        }
        
        #add-more {
            background-color: #553E91 !important;
        }
        
        #save-more {
            background-color: #43486E !important;
        }
        
        #btnAddMore {
            float: right;
            background-color: #BABABA !important;
            border-radius: 5px !important;
        }
    </style>
</head>

<body class="hm-gradient">

    <nav class="navbar navbar-expand-sm bg-light">
        <!-- Links -->
        <div class="container">
            <ul class="navbar-nav float-left">
                <li class="nav-item">
                    <a class="navbar-brand" id="nav_brand">Curated</a>

                </li>
            </ul>
            <ul class="nav nav-pills justify-content-end ml-auto">

                <li class="nav-item">
                    <a class="nav-link">
                        <%=user_info.email%>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#">
                        <!-- <i class="fa fa-gear" id="settings_icon"></i> Settings -->
                        <% if (user_info.profile_image) { %>
                            <img src="<%=user_info.profile_image%>" width="30" height="30" alt="logo">
                            <%} else { %>
                                <img src="/images/user_icon.png " class="img1" height="40" width="40" alt="logo">
                                <% } %>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
    <style>
        .ui-navigator {
            margin: 32px
        }
    </style>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="webapp__parse-google-photos-image"></div>
    <script type="text/javascript" src="js/main.b65c368f.js"></script>
    <div>
        <div id="results"></div>
        <main>
            <!--MDB Forms-->
            <div class="container mt-1">
                <div class="text-center darken-grey-text mb-4">
                    <h1 class="font-bold mt-4 mb-3 h5">Add Google Photos Video To Course</h1>
                </div>
                <!-- Grid column -->
                <div class="col-md-12 mb-6">
                    <div class="card">
                        <div class="card-body">
                            <form id="addCourse" method="post">
                                <!--Body-->
                                <div class="md-form">
                                    <i class="fa fa-link prefix grey-text"></i>
                                    <input type="text" id="video_link" name="video_link" pattern="https://lh3.googleusercontent.com/.*|https://drive.google.com.*" class="form-control">
                                    <label for="video-link">Google Video Link</label>
                                    <p id="video_link_err" style="color: red;display:none;">Please enter the valid video link</p>

                                </div>
                                <div class="md-form">
                                    <i class="fa fa-list-alt prefix grey-text"></i>
                                    <input type="text" name="course_title" id="course_title" class="form-control">
                                    <label for="course-title">Course Name</label>
                                    <p id="course_title_err" style="color: red;display:none;">Please enter the valid course name</p>

                                </div>
                                <div class="md-form">
                                    <i class="fa fa-picture-o prefix grey-text"></i>
                                    <input type="text" name="image_preview" id="image_preview" class="form-control">
                                    <label for="image_preview">Course Image</label>
                                    <p id="image_err" style="color: red;display:none;">Please enter the valid image url</p>

                                </div>
                                <div class="md-form mb-4 " id="meta_cat_div" style="display:none;">
                                    <i class="fas fa-list-alt prefix grey-text" aria-hidden="true"></i>
                                    <input type="text" readonly id="course_meta_cat" class="form-control ">
                                </div>
                                <div class="md-form mb-4 " id="sub_cat_div" style="display:none;">
                                    <i class="fas fa-list-alt prefix grey-text" aria-hidden="true"></i>
                                    <input type="text" name="course_sub_category" readonly id="course_sub_category" class="form-control ">
                                </div>
                                <div class="md-form mb-4 " id="m_cat_div" style="display:none;">
                                    <i class="fas fa-list-alt prefix grey-text" aria-hidden="true"></i>
                                    <input type="text" name="course_meta_category" readonly id="course_meta_category" class="form-control ">
                                </div>
                                <div class="md-form mb-4 " id="m_cat_id" style="display:none;">
                                    <i class="fas fa-list-alt prefix grey-text" aria-hidden="true"></i>
                                    <input type="text" name="cat_id" readonly id="cat_id" class="form-control ">
                                </div>
                                <input id="user" name="user" value="<%=user%>" style="display:none;">
                                <div class="md-form mb-4 ">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" style="color:grey !important;" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false"><i class="fa fa-list light-green-text-2" style="color:gray !important;"></i>&nbsp;&nbsp;Categories
                                            </a>
                                            <p id="course_category_err" style="color: red;display:none;">Please select the category from the list</p>
                                            <div class="dropdown-menu dropdown-primary " aria-labelledby="navbarDropdownMenuLink">
                                                <ul>
                                                    <% allcategories.forEach(function(course_categories) { %>
                                                        <li class="dropdown-item dropdown-submenu p-0">
                                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle dropdown-item w-100">
                                                                <%=course_categories.name%>
                                                            </a>
                                                            <ul id="select_me" class="dropdown-menu  rounded-0 white border-0 z-depth-1" style="height:200px; overflow-y: scroll;">
                                                                <% course_categories.sub_categories.forEach(function(sub_cate) { %>
                                                                    <li class="dropdown-item p-0">
                                                                        <a href="#" class="dropdown-item w-100" onclick="getCategoryName('<%=course_categories.name%>-<%=sub_cate.name%>','<%=course_categories.id%>-<%=sub_cate.id%>')">
                                                                            <%=sub_cate.name%>
                                                                        </a>
                                                                    </li>
                                                                    <% }); %>
                                                            </ul>
                                                        </li>
                                                        <% }); %>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-center py-4">
                                    <input type="submit" value="ADD COURSE" class="btn btn-primary" id="submit" name="submit" style="background: #43486e !important;">
                                    <!-- <button class="btn btn-outline-grey">Add Course <i class="fa fa-paper-plane-o ml-1"></i></button> -->
                                </div>
                            </form>
                        </div>
                        <a id="goToCourse"></a>
                    </div><br>
                </div>
                <!-- Grid column -->
            </div>
            <!--MDB Forms-->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header card-header-title">
                            <h4 class="modal-title card-element-title">Add Videos</h4>
                        </div>
                        <div class="modal-body" id="my-card">
                            <div class="card-content clearfix">
                                <div id="addMoreVideoData">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <form id="addFormData">

                                                <!-- <div class="md-form">
                                                    <i class="fa fa-link prefix grey-text"></i>
                                                    <input type="text" class="form-control" id="video_embed_link" name="video_embed_link[]" value="" placeholder="Video Google Link">
                                                    <p id="video_embed_link_err" style="color: red;display:none;">Please enter the valid video link</p>

                                                </div>
                                                <div class="md-form">
                                                    <i class="fa fa-picture-o prefix grey-text"></i>
                                                    <input type="text" class="form-control" id="video_thumbnail" name="video_thumbnail[]" value="" placeholder="Video Thumbnail">
                                                    <p id="video_thumbnail_err" style="color: red;display:none;">Please enter the valid image url</p>

                                                </div>
                                                <div class="md-form">
                                                    <i class="fa fa-list-alt prefix grey-text"></i>
                                                    <input type="text" class="form-control" id="video_title" name="video_title[]" value="" placeholder="Video Title">
                                                    <p id="video_title_err" style="color: red;display:none;">Please enter the valid video title</p>
                                                </div> -->
                                                <!-- <hr> -->
                                                <div id="add_my_fields">
                                                </div>
                                                <div class="md-form">
                                                    <div class="input-group">
                                                        <div class="input-group-btn">
                                                            <button class="btn btn-primary" style="background-color: #553E91 !important;" type="button" onclick="addMoreFields();">Add 
                                                                <i class="fa fa-plus" aria-hidden="true"></i> </button>
                                                            <button id="saveBtn" class="btn btn-grey" disabled="true" type="button" onclick="saveBtnClick()">Save 
                                                                   </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- Central Modal Small -->
    </main>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
    <script>
        //---------------------------------------------------------------------
        // get the category name 
        //---------------------------------------------------------------------
        function getCategoryName(name, id) {
            document.getElementById('course_category_err').style.display = "none";
            document.getElementById('meta_cat_div').style.display = "block";
            document.getElementById('course_meta_cat').value = ''
            var split_name = name.split('-');
            var split_id = id.split('-');
            document.getElementById('cat_id').value = ''
            document.getElementById('course_meta_cat').value = name
            document.getElementById('course_meta_category').value = ''
            document.getElementById('course_meta_category').value = split_name[0]
            document.getElementById('course_meta_category').value = split_id[0]
            document.getElementById('course_sub_category').value = ''
            document.getElementById('course_sub_category').value = split_name[1]
            document.getElementById('course_sub_category').value = split_id[1]
            $.ajax({
                type: 'POST',
                url: 'api/course-category/getParticularCategory',
                data: {
                    id: split_id[0],
                    name: split_name[0]
                },
                dataType: "json",
                success: function(response) {
                    if (response.success == true) {
                        document.getElementById('cat_id').value = response.data._id
                    } else {
                        console.log("error")
                    }
                },
                error: function() {}
            })

        } //getCategoryName

        var room = 1;
        var myArr;

        function saveBtnClick() {
            var newArrayLength;
            var dataArray = []

            $("#addFormData").find('input').each(function() {

                if (this.name === "video_embed_link") {
                    var dataaa = {};
                    dataaa[this.name] = this.value;
                    if (this.value == "") {
                        return alert("Please enter the video link");

                    } else {
                        var regex = /http(s)?:\/\/drive.google.com.*/gi;
                        var ViewRegex = new RegExp(regex);
                        if (this.value.match(ViewRegex)) {
                            var parts = this.value.match(/\/d\/(.+)\//);
                            if (parts == null || parts.length < 2) {
                                return
                            } else {
                                const videoUrl = "https://drive.google.com/uc?export=view&id=" + parts[1];
                                newArrayLength = dataArray.push(dataaa);
                                dataArray[newArrayLength - 1][this.name] = this.value;
                                dataArray[newArrayLength - 1]["video_id"] = parts[1];
                                dataArray[newArrayLength - 1]["channel_title"] = "";
                                dataArray[newArrayLength - 1]["channel_link"] = "";
                                dataArray[newArrayLength - 1]["video_description"] = "...";

                            }
                        } else {
                            alert("Enter the valid google drive url");

                        }
                    }
                }
                if (this.name === "video_thumbnail") {
                    if (this.value == "") {
                        return alert("Please enter the video thumbnail");
                    } else {
                        var imgRegex = /http(s)?:\/\/(.*)\.(jpe?g|png|bmp)$/gi;
                        var ImageViewRegex = new RegExp(imgRegex);
                        if (this.value.match(ImageViewRegex)) {
                            if (dataArray.length > 0) {
                                dataArray[newArrayLength - 1][this.name] = this.value;
                            }
                        } else {
                            alert("Enter the valid image thumbnail url")
                        }
                    }
                }
                if (this.name === "video_title") {
                    if (this.value == "") {
                        return alert("Please enter the video title");
                    } else {
                        if (dataArray.length > 0) {
                            dataArray[newArrayLength - 1][this.name] = this.value;

                        }
                    }
                }
            });

            if (dataArray.length > 0) {
                myArr = dataArray;
                $('#myModal').modal('hide');
                $('#addFormData')[0].reset();
                document.getElementById('add_my_fields').innerHTML = '';


            }
        }

        function addMoreFields() {

            room++;
            var objTo = document.getElementById('add_my_fields')
            var divtest = document.createElement("div");
            divtest.setAttribute("class", "md-form removeclass" + room);
            var rdiv = 'removeclass' + room;
            divtest.setAttribute('text', 'Remove' + room)
            divtest.innerHTML = '<div class="md-form"> <i class="fa fa-link prefix grey-text"></i><input type="text" class="form-control"  id="video_embed_link' + room + '" name ="video_embed_link" value="" placeholder="Video Google Link"> <p id="video_embed_link_err' + room + '" style="color: red;display:none;">Please enter the valid google link</p> </div><div class="md-form"> <i class="fa fa-picture-o prefix grey-text"></i><input type="text" class="form-control" id="video_thumbnail' + room + '"  name = "video_thumbnail" value="" pattern = "http(s)?:\/\/(.*)\.(jpe?g|png|bmp)$" placeholder="Video Thumbnail"> <p id="video_thumbnail_err' + room + '" style="color: red;display:none;">Please enter the valid image url</p> </div> <div class="md-form"> <i class="fa fa-list-alt prefix grey-text"></i><input type="text" class="form-control" id="video_title' + room + '"  name ="video_title" value="" placeholder="Video Title"> <p id="video_title_err' + room + '" style="color: red;display:none;">Please enter the valid video title</p> </div><div class ="form-md"> <div class ="input-group"><div class="input-group-btn"> <button class="btn btn-danger" type="button" onclick="removeFields(' + room + ');"> Remove  <i class="fa fa-minus" aria-hidden="true"></i> </button></div> </div></div>  ';
            objTo.appendChild(divtest);
            document.getElementById('saveBtn').style.backgroundColor = "#553E91 ! important";
            $('#saveBtn').attr('disabled', false);
            document.getElementById('addMoreVideoData').style.height = "200px;"
        }

        function removeFields(rid) {
            console.log("=====remove id:====", rid);
            $('.removeclass' + rid).remove();

        }

        function addMoreVideos() {

            document.getElementById('addCourse').style.display = "none";
            document.getElementById('addMoreVideoData').innerHTML = '';


        }

        $(document).ready(function() {

            // add course form request
            $("#addCourse").submit(function(event) {
                event.preventDefault();
                if (document.getElementById('video_link').value === "" || document.getElementById('video_link').value == null) {
                    document.getElementById('video_link_err').style.display = "block";
                }
                if (document.getElementById('course_title').value === "" || document.getElementById('course_title').value == null) {
                    document.getElementById('course_title_err').style.display = "block";
                }
                if (document.getElementById('image_preview').value === "" || document.getElementById('image_preview').value == null) {
                    document.getElementById('image_err').style.display = "block";
                }
                if (document.getElementById('course_sub_category').value === "" || document.getElementById('course_sub_category').value == null) {
                    document.getElementById('course_category_err').style.display = "block";
                } else {
                    //document.getElementById('videosMore').style.display = "block";
                    // if (myArr != null) {
                    //     $.ajax({
                    //         type: 'POST',
                    //         url: '/api/course/test1',
                    //         data: $('#addCourse').serialize(),
                    //         course_details: myArr,
                    //         dataType: "json",
                    //         success: function(response) {
                    //             console.log("===dataaaa", response);
                    //         }
                    //     });
                    // } else {
                    $.ajax({
                        type: 'POST',
                        url: '/api/course/addGoogleVideo',
                        data: $('#addCourse').serialize() + '&course_details=' + JSON.stringify(myArr),
                        dataType: "json",
                        success: function(response) {

                            if (response.success == false && response.err_code == 2010) {
                                return document.getElementById('course_title_err').style.display = "block";
                            }
                            if (response.success == false && response.err_code == 2009) {
                                return document.getElementById('video_link_err').style.display = "block";
                            }
                            if (response.success == false && response.err_code == 2002) {
                                document.getElementById('video_link_err').style.display = "block";
                                document.getElementById('video_link_err').innerText = "OOPS! Course Already Exists"
                                return

                            }
                            if (response.success == false && response.err_code == 2023) {
                                document.getElementById('image_err').style.display = "block";
                                document.getElementById('image_err').innerText = "Course Image cannot be Empty"
                                return

                            }
                            if (response.success == false && response.err_code == 2024) {
                                document.getElementById('image_err').style.display = "block";
                                document.getElementById('image_err').innerText = "Invalid Course Image Url "
                                return
                            }
                            if (response.success == false && response.err_code == 2021) {
                                document.getElementById('course_title_err').style.display = "block";
                                document.getElementById('course_title_err').innerText = "OOPS! Course Name Already Taken"
                                return

                            }
                            if (response.success == false && response.err_code == 1009) {
                                document.getElementById('course_title_err').style.display = "block";
                                document.getElementById('course_title_err').innerText = "Something Went Wrong!"
                                return

                            }
                            if (response.success == false && response.err_code == 1116) {
                                document.getElementById('course_title_err').style.display = "block";
                                document.getElementById('course_title_err').innerText = "Unable to save the data"
                                return
                            }
                            if (response.success == false && response.err_code == 1118) {
                                document.getElementById('course_title_err').style.display = "block";
                                document.getElementById('course_title_err').innerText = "Unable to get the user udid"
                                return
                            } else if (response.success == true) {
                                $('#addCourse')[0].reset();

                                if (response.data != null && response.data.user != null) {
                                    localStorage.setItem("userId", response.data.user._id);

                                    // document.getElementById("goToCourse").href = '/view-course?uid=' + response.data.user.uid + '&course=' + response.data.course_name;
                                    document.getElementById("goToCourse").href = "/view-course?uid=" + response.data.user.uid + "&course=" + response.data.course_name;
                                    document.getElementById("goToCourse").click();

                                } else {
                                    window.location.reload()
                                }

                            } else {
                                console.log("-----else part---")
                            }
                        },
                        error: function() {}
                    })
                }
                // }

            });

            $('#video_link').keyup(function() {
                if ($(this).val() == '') {
                    $('#video_link_err').show();
                } else {
                    $('#video_link_err').hide();
                }
            });


            $('#image_preview').keyup(function() {
                if ($(this).val() == '') {
                    $('#course_title_err').show();
                } else {
                    $('#course_title_err').hide();
                }
            });
            $('#image_preview').keyup(function() {

                if ($(this).val() == '') {
                    $('#image_err').show();
                }
                if ($(this).val() != '') {

                    var imgRegex = /http(s)?:\/\/(.*)\.(jpe?g|png|bmp)$/gi;
                    var imageViewRegex = new RegExp(imgRegex);

                    if ($(this).val().match(imageViewRegex)) {
                        $('#image_err').hide();
                    } else {
                        $('#image_err').show();
                    }
                }
            });


        });
    </script>


</body>

</html>