<html>

<head>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
        @import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
        #heading_lbl {
            text-align: center;
            color: #553E91;
        }
        
        #add-g-btn {
            background-color: #553E91 !important;
        }
        
        img {
            border-radius: 5px !important;
        }
        
        #klipse-course {
            color: red;
            font-size: 20px;
            text-align: center;
        }
        
        #main-view {
            margin-top: 80px;
        }
        
        nav {
            background-color: #553E91 !important;
        }
    </style>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="/" id="nav_brand">Curated</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
           </button>
            </div>
        </nav>
    </div>
    <div class="container" id="main-view">
        <div class="card border mb-3">
            <div class="card-body ">
                <%if (kplis_courses.length >0) { %>
                    <h5 id="heading_lbl"> Google Drive Courses </h5>
                    <table class="table">
                        <% kplis_courses.forEach(function(data) { %>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-3.5">
                                            <div class="view img__wrap">
                                                <a href="view-klipse-course?uid=<%= data.uid%>&course=<%= data.course_name%>">
                                                <img src="<%= data.image_preview%>" width="200" height="150">
                                            </a>
                                            </div>

                                        </div>
                                        <div class="col-sm-4" id="col_text">
                                            <a href="view-klipse-course?uid=<%= data.uid%>&course=<%= data.course_name%>">
                                                <h3>
                                                    <%=data.course_title%>
                                                </h3>
                                                <%if (data.course_details.length > 0) { %>
                                                    <h5>
                                                        Total Videos:
                                                        <%=data.course_details.length%>
                                                    </h5>
                                                    <% } %>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                    </table>
                    <% } %>
            </div>
            <%if (kplis_courses.length==0) { %>
                <div id=klipse-course>No Course Added!</div>
                <% } %>
        </div>
    </div>

</body>

</html>